.ns-people {
	& > div {
		margin-right: 15px;
		&:last-of-type {
			margin-right: 0;
		}
		@media(min-width: $breakpoint-small){		
			display: inline-block;
		}
	}
	.ns-people-caption {
		margin: auto;
	}
}

.ns-people-caption {
	padding: 5px 10px;
}

.ns-people-large {
	@media(max-width: $breakpoint-medium){
		img {
			width: 200px;
		}		
	}
	.ns-people-caption {
		max-width: 300px;
	}
}

.ns-people-small {
	@media(max-width: $breakpoint-medium){
		img {
			width: 150px;
		}		
	}
	.ns-people-caption {
		max-width: 180px;
	}
}