.ns-thumbnail-wrapper {
	[class*=uk-width] {
		margin-bottom: 20px;
		@media(min-width: $breakpoint-medium){
			margin-bottom: 5px;
		}
	}
	.uk-grid[class*=uk-width] {
		margin-top: 0;
	}
}

[class*=col-wrapper]{
	margin-bottom: 40px;
}

.ns-2-col-wrapper {
	clear: both;
	@media(min-width: $breakpoint-medium){
		width: 65%;		
	}
	.uk-thumbnail-caption {
		max-width: 300px;
	}
}

.ns-8-col-wrapper,
.ns-4-col-wrapper {
	// max-width: 200px;
	clear: both;
	@media(min-width: $breakpoint-medium){
		width: 90%;		
	}
	.uk-overlay-panel {
		padding: 10px;
	}
	.uk-thumbnail-caption {
		max-width: 200px;
	}
}

.ns-4-col-wrapper {
	@media(min-width: $breakpoint-medium){
		width: 80%;
	}
}

.uk-thumbnail-caption {
	padding: 10px 15px;
	text-align: left; 
}