// Glyphicons font path
$icon-font-path:        "../fonts/";

// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// Colors
$brand-primary: #27ae60;

// Nav
$navbar-background: transparent;
$navbar-nav-hover-background: transparent;
$navbar-nav-hover-background: transparent;
$navbar-nav-onclick-background: transparent;
$nav-navbar-hover-background: transparent;
$navbar-nav-active-background: transparent;
$nav-navbar-hover-color: #000;

// Thumbnail
$thumbnail-padding: 0;
$thumbnail-caption-padding: 4px;
$thumbnail-border: transparent;
$thumbnail-border-width: 0;

$base-body-font-family: 'Josefin Sans', sans-serif;

$base-heading-font-family: 'Nunito', sans-serif;

$base-body-font-size: 20px;
$base-body-line-height: 26px;

$navbar-nav-font-family: $base-body-font-family;

$navbar-nav-font-size: 22px;

$base-em-color: $base-body-color;