// Glyphicons font path
$icon-font-path:        "../fonts/";

// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// Colors
$brand-primary: #27ae60;

// Nav
$navbar-background: transparent;
$navbar-nav-hover-background: transparent;
$navbar-nav-hover-background: transparent;
$navbar-nav-onclick-background: transparent;
$nav-navbar-hover-background: transparent;
$navbar-nav-active-background: transparent;

// Thumbnail
$thumbnail-padding: 0;
$thumbnail-caption-padding: 4px;