.ns-cover-image {
	display: block;
	margin: auto;
	@media(min-width: $breakpoint-medium){
		height: 500px;
	}
}

.ns-logo {
	font-size: 22px;
	line-height: 1.5;
	margin-bottom: 20px;
	color: $base-body-color;
	font-weight: bold;
	&:hover,&:focus {
		color: $base-body-color;
		text-decoration: none;
	}
}

.ns-main-nav {
	float: none;
	display: inline-block;
	& > li {
		float: none;
		display: inline-block;
	}
	a:after {
		content: '';
		display: block;
		opacity: 0;
		transition: all 300ms ease-out;
	}

	// overrides
	& > li >a[href='#']{
		cursor: pointer;
	}

	& > li >a:hover:after,
	& > li.uk-active > a:after {
		border-bottom: 1px dashed #000;
		opacity: 1;
	}
}