.tl-wrapper {
	position: relative;
	&:before {
		@media(min-width: $breakpoint-medium){				
			content: '';
			position: absolute;
			top: 0;
			left: 18px;
			height: 100%;
			width: 4px;
			background: #d7e4ed;
			left: 50%;
			margin-left: -2px;
		}
	}
}

.tl-row {
	@media(min-width: $breakpoint-medium){				
		min-height: 360px;	
	}
	margin: 20px 0;
	&:nth-child(even){
		.tl-text {
			@media(min-width: $breakpoint-medium){				
				float: right;
			}
		}
	}
}

.tl-image {	
	float: left;
	margin-right: 20px;
	width: 150px;
	@media(min-width: $breakpoint-medium){		
		width: auto;
		margin-right: 0;		
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
	}

}

.tl-text {
	padding: 10px;
	@media(min-width: $breakpoint-medium){				
		width: 30%;
		padding: 20px;
	}
}